<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <p style='
            font-family: "Grechen Fuemen", serif;
            font-weight: 800;
            font-style: normal;
            font-size: 1.2rem;
            text-decoration: none !important;'>
            Studio Maud
        </p>
            
            <!-- <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo" width="264" height="78"></a> -->
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Info</h2>
                    </li>
                    <li>
                        <a href="/">Naslovna</a>
                    </li>
                    <li>
                        <a href="/about">O nama</a>
                    </li>
                    <li>
                        <a href="/projects">Galerija</a>
                    </li>
                    <li>
                        <a href="/testimonials">Recenzije</a>
                    </li>
                    <li>
                        <a href="/contact">Kontakt</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Usluge</h2>
                    </li>
                    <li>Projektiranje interijera</li>
                    <li>Projektiranje građevina</li>
                    <li>Konzulting</li>
                </ul>
                <ul>
                    <li>
                        <h2>Kontakt</h2>
                    </li>
                    <li>
                        <a href="/contact">Lipovljanska 7, <br>10000 Zagreb</a>
                    </li>
                    <li>
                        <a href="tel:555-779-4407">Tel.: 091 252 2425</a>
                    </li>
                    <li>
                        <a href="mailto:email@email.com">Pošalji e-mail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">Your Company Name</a>
        <span class="copyright"> Copyright 2021 - Present</span>
    </div> -->
</footer>